<a href="/bright_ideas">Bright Ideas</a>
<a href="/users/logout">Logout</a><br><br>

Name: <%=@user[0][:name] %><br>
Alias: <%=@user[0][:alias] %><br>
Email: <%=@user[0][:email] %><br><br>

Total Number of Posts: <%= @posts[0][:cnt] %>
Total Number of Likes: <%= @user[0][:likes]%>